body{
  background-color: #fffdf4;
}

h1{
  color: rgb(113, 111, 116);
  margin-left: 20px;
}

/* Add to your Keychain.css */

.wishlist-info {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #fff0f5;
    border-radius: 10px;
    border: 1px solid #cc6699;
    max-width: 300px;
    margin: 20px auto;
}

.wishlist-info p {
    color: #cc6699;
    font-weight: 500;
    margin: 0;
    font-size: 1.1rem;
}