.navbar {
  background-color:antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #f1c7d3;
  position: sticky;
  top: 0;
  z-index: 1000;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 160px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-links li a {
  text-decoration: none;
  color: #d14e7b;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-links li a:hover {
  color: black;
}
